:global{

  .fade-enter {
    opacity: 0.01;
    transform: translateX(50px);
  }
  .fade-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-out;
  }
  .fade-enter-done{}
  .fade-exit {
    opacity: 1;
    transform: translateX(0%);
  }
  .fade-exit-active {
    opacity: 0.01;
    transform: translateX(-50px);
    transition: all 300ms ease-out;
  }
  .fade-exit-done {}
  .router-action-POP{
    .fade-enter {
      transform: translateX(-50px);
    }
    .fade-enter-active {
      transform: translateX(0%);
    }
    .fade-enter-done{}
    .fade-exit {
      transform: translateX(0%);
    }
    .fade-exit-active {
      transform: translateX(50px);
    }
  }
}