.root{
  composes: absolute from '../common.scss';
  position: fixed;
  background: #000000aa;
}
.photoroot{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.mainimg{
  composes: absolute from '../common.scss';
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.miniview{
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  right: 10px;
  bottom: 10px;
  width: 15%;
  height: 15%;
  left: auto;
  top: auto;
  transition: all 0.3s;
}

.minirec{
  position: absolute;
  border: #fff5 1px solid;
  width: 15%;
  height: 15%;
}

.minicollection{
  position: absolute;
  width: 100%;
  height: 130px;
  bottom: 5px;
  left: 0;
  text-align: center;
  --size: 95px;
  &:hover{
    .itemcollection{
      top: 10px;
      transition: all 0.4s, top 0.25s; 
    }
  }
}
.itemcollection{
  display: inline-block;
  width: var(--size);
  height: var(--size);
  top : 150px;
  margin: 4px;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: calc(50% - var(--size) * 0.5);
  cursor: pointer;
  border: #fff solid 1px;
  box-shadow: 0 0 3px #fff;
  transition: all 0.4s, top 0.25s 1s; 

  &[data-delta="7"],
  &[data-delta="-7"]{
    opacity: 0;
  }
}
@for $i from -10 through 10 {
  .itemcollection[data-delta="#{$i}"]{
    --scale: #{1.15 - 0.08 * abs($i)};
    transform: translateX(#{(125 * $i) - 3.5 * abs($i) * $i}#{'%'}) scale(var(--scale)) ;
    filter: brightness(#{1 - 0.1 * abs($i)});
    opacity:  #{1.15 - 0.15 * abs($i)};

  }
  
}

