.coverroot{
  width: 100vw;
  height: 27vw;
  min-height: 300px;
  position: relative;
  background-size: cover;
  background-position: center;
  .info{
    position: absolute;
    bottom: 0px;
    height: 200px;
    display: flex;
    align-items: center;
    padding: 20px 7%;
    width: 100%;
    background: linear-gradient(to top,#0009,#0003,#0000);
  }
  .avatar{
    height : 100%;
    width : auto;
  }
  .text{
    padding: 1em;
    color : #fff;
  }
  .line1{
    padding : 1rem 0;
  }
  .name{
    font-size: 2.2rem;
  }
}
.root{
  .nav{
    background-color: #fff;
  }
}

.loadcontainer{
  height: 20vw;
  min-height: 150px;
  position: relative;
}