.root{
  composes : fullwidth from '../common.scss';
  background-color: #f8f8f8;
  margin-top : 0;
  margin-bottom : 0;
}


.article {
  padding: 0.5em;
  display: flex;
  margin-bottom: 2em;
  text-decoration: none;
  
  @media(max-width : 960px) {
    font-size: 0.9em;
  }
  @media(max-width : 750px) {
    flex-wrap: wrap;
  }
}



.posts{
  max-width: 95vw;
  display: flex;
  flex-wrap: wrap;
  .article{
    padding: 0;
    width: 32%;
    margin : 1em 0.65%;
    flex-direction: column;
    position: relative;
    @media(max-width : 960px) {
      width: 40%;
      margin : 1em 5%;
    }
    @media(max-width : 750px) {
      width: 45%;
      margin : 1em 2.5%;
      .content{
        padding: 0;
        .title {
          font-size: 1.3em !important;
        }
        .des {
          font-size: 1em !important;
        }
      }
    }
    @media(max-width : 400px) {
      width: 48%;
      margin : 1em 0%;
    }
  }
  @media(max-width : 400px) {
    justify-content: space-between;
  }
  .image{
    width: 100%;
    left: 0 ;
    text-align: center;
    height: auto;;
    padding-top: 60%;
    margin: 0 !important;
  }
  .content{
    padding: 0;
    .title {
      font-size: 1.1em !important;
    }
    .des {
      font-size: 0.8em !important;
    }
  }
  a{
    text-decoration: none;
  }
}

.content {
  flex: 1;
  padding: 0 1em;

  @media(max-width : 750px) {
    padding: 0.5em 0;
    width: 100%;
  }
}

.image {
  width: 520px;
  height: 292.5px;
  margin: 0;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  background-size: 100% auto ;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;

  @media(max-width : 960px) {
    width:370px ;
    height:370px / 16 * 9;
    max-width: calc(100vw - 30px - 1em);
  }
  @media(max-width : 750px) {
    width: 100%;
    height: 208.125px;
  }
  @media(max-width : 400px) {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    max-width: 100vw;
  }
}



.title {
  color: rgba(0,0,0,.84)  !important;
  font-size: 1.4em !important;
  margin-top: 0.2em;
  text-align: left !important;
  margin-bottom: 0.2em;
}
.des {
  color: rgba(0,0,0,.54);
}

.card{
  position: relative;
  height: 10em;;
  padding: 1em;
  padding-right: 11em;
  box-shadow: 0.1em 0.1em 0.5em rgba(0,0,0,.54);
  margin : 0.8em 0;
  img{
    position: absolute;
    right :0;
    top : 0;
    height: 10em;
    width: 10em;
    object-fit: cover;
    margin: 0;
  }
  b{
    max-height: 5.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    opacity: 0.8;
  }
  a{
    text-decoration: none !important;
  }
}

.markdown{
  pre{
    padding: 1em;
    background-color: #eee;
    white-space: pre-wrap;
  }
  h1{
    line-height: 1.3;
  }
  blockquote{
    border-left: 3px solid rgba(0,0,0,.84);
    margin: 1.5em 0;
    padding: 0 1em 0 2em;
    opacity: 0.8;
    font-style: italic;
  }
  code{
    background-color: #ddd;
    padding: 0.2em 0.5em;
    margin : 0 0.1em;
  }
}
.ratiocontainer{
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.iframe{
  composes : absolute from '../common.scss';
  border: none;
  overflow: hidden;
}