


html,body{
  padding: 0;
  margin : 0;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  font-weight: 400;
}

html{
  font-size: 16px;
  @media (max-width : 500px) {
    font-size: 3.2vw;
  }
}

*{
  box-sizing: border-box;
}

figcaption{
  padding: 1em;
  font-size: 13px;
  font-style: italic;
  opacity: 0.7;
}


h2{
  font-size: 35px;
  margin-top : 0.7em;
  margin-bottom : 0.7em;
  text-align: left;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  font-weight: 700;
}
h3{
  font-size: 25px;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
  font-weight: 600;
}
p{
  font-size: 18px;
  line-height: 1.5em;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;

}

[data-wrap]{
  white-space: pre-line;
}

[data-nowrap]{
  white-space: nowrap;
}

[data-upper]{
  text-transform: uppercase;
}

[data-center]{
  text-align: center;
}

@media (max-width: 600px){
  h2{
    font-size : 5.833333vw;
  }
}

@media (max-width: 500px){
  h3{
    font-size : 5vw;
  }
}
@media (max-width: 400px){
  p{
    font-size : 4.5vw;
  }
}


:global{
  .material-icons{
    font-size: 1em;
    line-height: 1em;
  }
  .dot-loading {
    position: relative;
    &:after{
      content: '';
      position: absolute;
      background-color: #fff2;
      background: url('/images/dot-loading.svg') no-repeat center;
      background-size: 150px auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0.7;
    } 
  }
}
  